<div class="sidebar">
    <h2>异常视频列表</h2>
    <ul id="file-list">
        <!-- 文件列表将通过JavaScript动态生成 -->
    </ul>
    <div class="query-title">
        <input id="title-input" placeholder="标签" type="text">
        <button id="title-search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <div class="query-score">
        <input id="anomaly-score-input" placeholder="异常分数" type="text">
        <button id="anomaly-score-search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>
